.WeatherEngine {
  background: #eeedcb;
  border-radius: 5px;
  padding: 20px;
}
.WeatherEngine h2 {
  margin-bottom: 50px;
  text-align: center;
}
.WeatherEngine ul {
  list-style-type: none;
}
.cityName {
  padding: 20px;
}
